
body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight:400;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f47a99;
    color: #fff;
    text-align: center;
    padding: 20px;
h1{
color:#fff;
}

    
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}



main {
    padding: 20px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.producto {
    background-color:white;
    border: 1px solid #f47a99;
    border-radius: 5px;
    padding: 20px;
    width: 25%;
    margin-bottom: 20px;
}

.producto img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background-color: #f47a99;
    color: #fff;
    text-align: center;
    padding: 20px;
}